<!--Start Paragraph Section-->
<div class="spotlight-container">
  <a name="{{name}}_{{order}}"></a>
  <h3>{{spotlightname}}</h3>
  {{#if image}}<img alt="Embedded Image" src="{{image}}"/>{{/if}}
  <p>{{description}}</p>
</div>
<!--End Paragraph Section-->