<!--Start Activity Section-->
<div class="activity-container">
  <a name="{{name}}_{{order}}"></a>
  <h3>{{title}}</h3>
  <div class="date">{{date}}: </div>
  <div class="activity-name">{{activityname}}</div>
  <div class="activity-description">
    {{description}}
  </div>
</div>
<!--End Activity Section-->