<!--Start AccentList Section-->
<div>
  <a name="{{name}}_{{order}}"></a>
  <h2 class="title">{{title}}</h2>

  <div>{{contact}}</div>
  <div>{{address}}</div>
  {{#if address2}}<div>{{address2}}</div>{{/if}}
  <div>
    <span>{{city}}, {{state}} {{zipcode}}
  </div>

  {{#if phone}}<div>{{phone}}</div>{{/if}}

  {{#if email}}<div>{{email}}</div>{{/if}}
</div>
<!--End AccentList Section-->
