<!--Start Paragraph Section-->
<div>
  <a name="{{name}}_{{order}}"></a>
  <h2 class="title">{{title}}</h2>
  {{#if image}}<img alt="Embedded Image" src="{{image}}"/>{{/if}}

  {{#each paragraphs}}
    <p>{{{this}}}</p>
  {{/each}}
</div>
<!--End Paragraph Section-->