<!--Start AccentList Section-->
<div>
  <a name="{{name}}_{{order}}"></a>
  <h2 class="title">{{title}}</h2>
  {{#if image}}<img alt="Embedded Image" src="{{image}}"/>{{/if}}

  <ul>
  {{#each list}}
    <li>
      {{#if this.key}}
        <span class="key">{{this.key}}</span>
      {{else}} 
        <span>&nbsp;</span>
      {{/if}}
      <span class="value">{{this.value}}</span>
    </li>
  {{/each}}
  </ul>
</div>
<!--End AccentList Section-->